*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

.door-interactive{    
    overflow: hidden;

    .stage{
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;    
        flex-wrap: wrap;     
        padding: 10%;   
    }
    .door{
        position: relative;
        width: 33.3%;
        height: 30%;  
    }
    .door-back{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        overflow: hidden;
    }
    .ilbuni{
        transform: translate3d(-100%, 0, 0);
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        transition: 0.3s 0.5s;
    }
    .door:nth-child(1) .ilbuni{
        background-image: url(img/ilbuni_0.png);
    }
    .door:nth-child(2) .ilbuni{
        background-image: url(img/ilbuni_1.png);
    }
    .door:nth-child(3) .ilbuni{
        background-image: url(img/ilbuni_2.png);
    }
    .door-body{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: 0.5s;
        transform-origin: 0 center;
    }
    .door:nth-child(1) .door-body{
        background-color: rgba(255,0,0,0.7);
    }
    .door:nth-child(2) .door-body{
        background-color: rgba(0, 255, 55, 0.7);
    }
    .door:nth-child(3) .door-body{
        background-color: rgba(0, 132, 255, 0.7);
    }

    .door.door-opened .door-body{
        transform: perspective(800px) rotateY(-100deg);
    }
    .door.door-opened .ilbuni{
        transform: translate3d(0,0,0);
    }
}

.scroll-interactive{
    height: 1000vh;
    background-color: rgb(145, 216, 216);

    .output{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        font-size: 1.2rem;
        font-weight: 200;
        color: #fff;
        background: rgba(0,0,0,0.4);
        display: flex;
        align-items: center;
        line-height: 0;
        height: 40px;
        padding: 10px;
        z-index: 10;
    }
    .ilbuni{
        transition: 0.3s;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        background: url(img/ilbuni_0.png) no-repeat center center / contain;

        &.zoom{
            transform: scale(2);
        }
    }
}

.transition-interactive{

    .ball{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: red;
        transition: 1s;

        &.end{
            background-color: dodgerblue;
        }
    }
}

.animation-interactive{
    
    @keyframes ball-ani {
        from {
            transform: translate(0,0);
        }
        to {
            transform: translate(200px, 200px);
        }
    }

    .ball{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: red;
        transition: 1s;

        // animation: ball-ani 0.5s 4 alternate forwards;

        &.end{
            background-color: dodgerblue;
        }
    }
}